.custom-card-text {
    color: #5b32b4;
    font-size: 0.85em;
}

.custom-card-text:hover {
    color: #5b32b4;
    text-decoration: none;
}

.carousel-caption {
    bottom: 30%;
    opacity: 0.9;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fb397d;
    width: 2.5em;
    height: 2.5em;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    bottom: 25px;
}

.custom-outline-button {
    color: #fb397d;
    border-color: #fb397d;
}

.custom-outline-button:hover {
    color: white;
    background-color: #fb397d;
    border-color: #fb397d;
}

.custom-outline-button:active {
    color: white;
    background-color: #fb397d !important;
    border-color: #fb397d !important;
    box-shadow: 0 0 0 .2rem rgba(255, 0, 98, 0.5);
}

.custom-outline-button:focus {
    color: white;
    background-color: #fb397d;
    border-color: #fb397d;
    box-shadow: 0 0 0 .2rem rgba(255, 0, 98, 0.5);
}

.bgimg-1 {
    background-image: url("/Resources/Images/ThoughtLeadership.jpg");
    /* min-height: 15em;
    position: relative; */
    opacity: 0.65;
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.custom-accordion-element {
    background-color: #edeeef;
    /* background-color: #3473c1; */
    color: black;
    border: none;
}

.custom-accordion-element:hover {
    background-color: #3473c1;
    color: white;
    border: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.custom-accordion-element[aria-expanded="true"] {
    background-color: #3473c1;
    color: white;
}

#accordionExample ul {
    list-style-type: none;
}

#accordionExample ul>li {
    margin-left: -2em;
    /* text-decoration: underline; */
    margin-bottom: 1em;
    padding: 0.25em;
}

#accordionExample ul li:hover {
    color: white;
    cursor: pointer;
    background-color: #3473c1
}

.dropdown-menu {
    left: 20%
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.custom-list-acive{
    color: white;
    cursor: pointer;
    background-color: #3473c1
}

.custom-image-container {
    position: relative;
    text-align: center;
    color: white;
}

.custom-text-centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

.card:hover{
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}